dialog.mdl-dialog
  .mdl-dialog__content
    p
      | Allow this site to collect usage data to improve your experience?
  .mdl-dialog__actions.mdl-dialog__actions--full-width
    button.mdl-button(type='button') Agree
    button.mdl-button.close(type='button') Disagree
