footer.mdl-mega-footer
  .mdl-mega-footer__middle-section
    .mdl-mega-footer__drop-down-section
      input.mdl-mega-footer__heading-checkbox(type='checkbox', checked='')
      h1.mdl-mega-footer__heading Features
      ul.mdl-mega-footer__link-list
        li
          a(href='#') About
        li
          a(href='#') Terms
        li
          a(href='#') Partners
        li
          a(href='#') Updates
    .mdl-mega-footer__drop-down-section
      input.mdl-mega-footer__heading-checkbox(type='checkbox', checked='')
      h1.mdl-mega-footer__heading Details
      ul.mdl-mega-footer__link-list
        li
          a(href='#') Specs
        li
          a(href='#') Tools
        li
          a(href='#') Resources
    .mdl-mega-footer__drop-down-section
      input.mdl-mega-footer__heading-checkbox(type='checkbox', checked='')
      h1.mdl-mega-footer__heading Technology
      ul.mdl-mega-footer__link-list
        li
          a(href='#') How it works
        li
          a(href='#') Patterns
        li
          a(href='#') Usage
        li
          a(href='#') Products
        li
          a(href='#') Contracts
    .mdl-mega-footer__drop-down-section
      input.mdl-mega-footer__heading-checkbox(type='checkbox', checked='')
      h1.mdl-mega-footer__heading FAQ
      ul.mdl-mega-footer__link-list
        li
          a(href='#') Questions
        li
          a(href='#') Answers
        li
          a(href='#') Contact us
  .mdl-mega-footer__bottom-section
    .mdl-logo Title
    ul.mdl-mega-footer__link-list
      li
        a(href='#') Help
      li
        a(href='#') Privacy & Terms
