header.mdl-layout__header.icbc-bg-red
  div.mdl-layout__header-row
    span.mdl-layout-title
      //span.header-icbc ICBC
      i.i_icbc.header-logo
      span.header-title 大数据智能营销应用平台
      a.header-switch(href="javascript:;") [切换]
    nav.mdl-navigation.menu-bar
      a.mdl-navigation__link.mdl-navigation__link--icon.menu-item(href='javascript:;') 首页
      a.mdl-navigation__link.mdl-navigation__link--icon.menu-item(href='javascript:;') 精准营销
      a.mdl-navigation__link.mdl-navigation__link--icon.menu-item(href='javascript:;') 智能营销
      a.mdl-navigation__link.mdl-navigation__link--icon.menu-item(href='javascript:;') 对公存款
      a.mdl-navigation__link.mdl-navigation__link--icon.menu-item(href='javascript:;') 个人业务
    div.mdl-layout-spacer
    nav.mdl-navigation
      div.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right.mdl-navigation__link
        label.mdl-button.mdl-js-button.mdl-button--icon(for='search-node')
          i.material-icons(role='presentation') search
        div.mdl-textfield__expandable-holder
          input.mdl-textfield__input(type='text', name='search-node', id='search-node')
      a.mdl-navigation__link.mdl-navigation__link--icon#settings(href='#/settings')
        i.material-icons(role='presentation') settings
      ul.icbc-title-menu.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='settings')
        li.mdl-menu__item 权限申请
        li.mdl-menu__item 权限审批
        li.mdl-menu__item(disabled) 功能节点维护
        li.mdl-menu__item(disabled) 角色维护
        li.mdl-menu__item 角色授权
      a.mdl-navigation__link.mdl-navigation__link--icon#profile(href='#/profile')
        i.material-icons.mdl-badge.mdl-badge--overlap(role='presentation', data-badge="1") person
      ul.icbc-title-menu.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='profile')
        li.mdl-menu__item 我的待办
        li.mdl-menu__item 我的资料
        li.mdl-menu__item 我的角色
