extends layout

block css-import
  link(rel='stylesheet', href='/stylesheets/icbc-style.css')
  link(rel='stylesheet', href='/stylesheets/google-tab.css')

block content
  div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    include icbc-header.jade
    //div.mdl-layout__drawer-button(role='button', aria-expanded='false', ng-click='collapseAside()')
      i.material-icons 
    main.mdl-layout__content.mdl-layout--fixed-drawer(ng-class='{"aside-collapse": collapse}')
      aside.mdl-layout__drawer.aside-fixed(style='display: none;')
        nav.mdl-navigation.aside-collapse
          a.mdl-navigation__link.mdl-navigation__link--icon(href='#/home')
            i.material-icons(role='presentation') home
            span &nbsp;Home
          a.mdl-navigation__link.mdl-navigation__link--icon(href='#/features')
            i.material-icons(role='presentation') inbox
            span &nbsp;Features
          a.mdl-navigation__link.mdl-navigation__link--icon(href='#/about')
            i.material-icons(role='presentation') help_outline
            span &nbsp;About us
          a.mdl-navigation__link.mdl-navigation__link--icon(href='/')
            i.material-icons(role='presentation') computer
            span &nbsp;Computer
          a.mdl-navigation__link.mdl-navigation__link--icon(href='/')
            i.material-icons(role='presentation') flight
            span &nbsp;Flight
          a.mdl-navigation__link.mdl-navigation__link--icon(href='/')
            i.material-icons(role='presentation') local_florist
            span &nbsp;Floor
          a.mdl-navigation__link.mdl-navigation__link--icon(href='/')
            i.material-icons(role='presentation') live_tv
            span &nbsp;Live TV
          a.mdl-navigation__link.mdl-navigation__link--icon(href='/')
            i.material-icons(role='presentation') exit_to_app
            span &nbsp;Log Out
      main.mdl-layout__content.mdl-grid(style='margin-left: 0 !important;')
        div.mdl-cell.mdl-cell--9-col-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
          icbc-nav-project(data-url='/json/project-nav-jzyx.json')
          icbc-nav-project(data-url='/json/project-nav-znyx.json')
          icbc-nav-project(data-url='/json/project-nav-khfc.json')
          icbc-nav-project(data-url='/json/project-nav-yxxs.json')
          icbc-nav-project(data-url='/json/project-nav-wdsj.json')
        div.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--hide-tablet.mdl-cell--hide-phone
          icbc-notice-list(data-url='/json/notice-list.json')
          icbc-data-table(data-url='/json/rank-table.json')
          icbc-data-table(data-url='/json/rank-table.json')
          icbc-data-table(data-url='/json/rank-table.json')
          icbc-data-table(data-url='/json/rank-table.json')
      include footer.jade
      include app-switch-dialog.jade

block js-import
  script(type='text/javascript', src='/javascripts/index.js', charset='utf-8')

div(ng-include='/templates/template.html')