extends layout

block css-import
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/google-tab.css')

block content
  div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    header.mdl-layout__header.icbc-bg-red
      div.mdl-layout__header-row
        span.mdl-layout-title
          span.header-icbc ICBC
          i.i_icbc.header-logo
          span.header-title 中国工商银行
        div.mdl-layout-spacer
        nav.mdl-navigation
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right.mdl-navigation__link
            label.mdl-button.mdl-js-button.mdl-button--icon(for='search-node')
              i.material-icons(role='presentation') search
            div.mdl-textfield__expandable-holder
              input.mdl-textfield__input(type='text', name='search-node', id='search-node')
          a.mdl-navigation__link.mdl-navigation__link--icon#settings(href='#/settings')
            i.material-icons(role='presentation') settings
          ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='settings')
            li.mdl-menu__item Some Action
            li.mdl-menu__item Another Action
            li.mdl-menu__item(disabled) Disabled Action
            li.mdl-menu__item Yet Another Action
          a.mdl-navigation__link.mdl-navigation__link--icon#profile(href='#/profile')
            i.material-icons.mdl-badge.mdl-badge--overlap(role='presentation', data-badge="1") person
          ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='profile')
            li.mdl-menu__item Some Action
            li.mdl-menu__item Another Action
            li.mdl-menu__item(disabled) Disabled Action
            li.mdl-menu__item Yet Another Action
    div.mdl-layout__drawer-button(role='button', aria-expanded='false', ng-click='collapseAside()')
      i.material-icons 
    main.mdl-layout__content.mdl-layout--fixed-drawer(ng-class='{"aside-collapse": collapse}')
      aside.mdl-layout__drawer.aside-fixed
        nav.mdl-navigation.aside-collapse
          a.mdl-navigation__link.mdl-navigation__link--icon(href='#/home')
            i.material-icons(role='presentation') home
            span &nbsp;Home
          a.mdl-navigation__link.mdl-navigation__link--icon(href='#/features')
            i.material-icons(role='presentation') inbox
            span &nbsp;Features
          a.mdl-navigation__link.mdl-navigation__link--icon(href='#/about')
            i.material-icons(role='presentation') help_outline
            span &nbsp;About us
          a.mdl-navigation__link.mdl-navigation__link--icon(href='/')
            i.material-icons(role='presentation') computer
            span &nbsp;Computer
          a.mdl-navigation__link.mdl-navigation__link--icon(href='/')
            i.material-icons(role='presentation') flight
            span &nbsp;Flight
          a.mdl-navigation__link.mdl-navigation__link--icon(href='/')
            i.material-icons(role='presentation') local_florist
            span &nbsp;Floor
          a.mdl-navigation__link.mdl-navigation__link--icon(href='/')
            i.material-icons(role='presentation') live_tv
            span &nbsp;Live TV
          a.mdl-navigation__link.mdl-navigation__link--icon(href='/')
            i.material-icons(role='presentation') exit_to_app
            span &nbsp;Log Out
      main.mdl-layout__content.mdl-grid
        div.mdl-cell.mdl-cell--9-col-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
          icbc-nav-project(data-url='/json/project-nav-jzyx.json')
          icbc-nav-project(data-url='/json/project-nav-znyx.json')
        div.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--hide-tablet.mdl-cell--hide-phone
          icbc-notice-list(data-url='/json/notice-list.json')
          icbc-data-table(data-url='/json/rank-table.json')
          icbc-data-table(data-url='/json/rank-table.json')
          icbc-data-table(data-url='/json/rank-table.json')
          icbc-data-table(data-url='/json/rank-table.json')
      include footer.jade

block js-import
  script(type='text/javascript', src='/javascripts/index.js', charset='utf-8')

div(ng-include='/templates/template.html')